<%= form_for @post do |f|  %>
    <div class="field">
        <%= f.select(:game_type) do %>
          <% [['리그오브레전드', "lol"], ['배틀그라운드', "battle"], ['블리자드', "blizzard"], ['넥슨', "nexon"], ['스팀', "steam"], ['모바일', "mobile"], ['기타', "ext"]].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
    </div>
    <div class="field">
        <%= f.label :title, '제목' %>
        <%= f.text_field :title %>
    </div>
    
    <div class="field">
        <%= f.label :content, '내용' %>
        <%= f.text_area :content %>
    </div>
    
    <div class="field">
        <%= f.label :image, '이미지' %>
        <%= f.file_field :image %>
    </div>
    <%= f.submit '제출' %>
<% end %>