
  <div id="gallery">
		<div class="container">
			<div class="sixteen columns">
				<h1><span>Mypage</span></h1>
			</div>
			<div class="sixteen columns">
				<h5>자기소개 넣을자리</h5>
			</div>
		</div>
	<div class="fil">
		<div class="container">
			<div class="sixteen columns">
				<div id="portfolio-filter">
					<ul id="filter">
						<li><a href="#" class="current" data-filter="*" title="Show all items">Show all</a></li>
						<li><a href="#" data-filter=".lol" title="League Of Legend">lol</a></li>
						<li><a href="#" data-filter=".battleground" title="Battle Ground">battleground</a></li>
						<li><a href="#" data-filter=".blizzard" title="Blizzard">blizzard</a></li>
						<li><a href="#" data-filter=".nexon" title="Nexon">nexon</a></li>
                        <li><a href="#" data-filter=".steam" title="Steam">steam</a></li>
                        <li><a href="#" data-filter=".mobile" title="Mobile">mobile</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
	<div class="portfolio">
    <% @lol_posts.each do |p| %>
			<div class="one-third column lol">
				<div class="project1">
					<!-- post의 이미지 칼럼명 : image-->
					<a href="" class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/1.jpg" alt="" />
							<div class="mask-w1">
									<p><%= p.title %></p>
									<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>
    <% @battleground_posts.each do |p| %>
			<div class="one-third column battleground">
				<div class="project1">
					<a class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/2.jpg" alt="" />
							<div class="mask-w1">
								<p><%= p.title %></p>
								<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>
    <% @blizzard_posts.each do |p| %>
			<div class="one-third column blizzard">
				<div class="project1">
					<a class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/3.jpg" alt="" />
							<div class="mask-w1">
								<p><%= p.title %></p>
								<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>
    <% @nexon_posts.each do |p| %>
			<div class="one-third column nexon">
				<div class="project1">
					<a class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/4.jpg" alt="" />
							<div class="mask-w1">
								<p><%= p.title %></p>
								<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>
    <% @steam_posts.each do |p| %>
			<div class="one-third column steam">
				<div class="project1">
					<a class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/5.jpg" alt="" />
							<div class="mask-w1">
								<p><%= p.title %></p>
								<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>
    <% @mobile_posts.each do |p| %>
			<div class="one-third column mobile">
				<div class="project1">
					<a class="fancybox" data-fancybox-group="gallery" href="<%= p.image%>" title="Project Title">
						<div class="pro-image1">
							<img src="/images/gallery/6.jpg" alt="" />
							<div class="mask-w1">
								<p><%= p.title %></p>
								<p><%= p.content %></p>
							</div>
						</div>
					</a>
				</div>
			</div>
    <% end %>


		</div>
	</div>
	</div>


	<div id="separator3">
		<div class="container">
			<div class="sixteen columns">
				<h5>게임 하는 모든 순간을  <span>moment</span>.</h5>
			</div>
		</div>
	</div>
