<h1><%= @post.id %>번 Post글 입니다.</h1>

<div class="field">
    <strong>제목</strong>
    <%= @post.title %>
</div>
<div class="field">
    <strong>내용</strong>
    <%= @post.content %>
</div><br>

    <img class="image" src="<%= @post.image %>">



<!-- 댓글 -->
<div class="comment">
    <!-- 댓글 입력 -->
    <% if user_signed_in? %>
       
        <form action="/posts/<%=@post.id%>/comments">
            <input type="textarea" name="comment_body">
            <input type="submit" value="등록">
        </form>
    <% end %>
    <!-- 댓글 출력 -->
    <% @post.comments.each do |comment| %>
        <div class="body">

        <%= getNameById(comment.user_id)%> :
        <%= render_user_tag(comment.body) %>

          <% if current_user.id == comment.user_id %>
            <%= link_to "삭제", "/posts/#{@post.id}/comments/#{comment.id}"%>
          <% end %>
        </div>

        
        <hr>
    <% end %> <!--  comment each do-->
</div> <!-- div-comment -->

<div>
    <%= link_to "홈으로", root_path %>
    <% if @post.user_id == current_user.id %>
        <%= link_to "글 삭제", post_path(@post), method: :delete, data: {confirm: "정말 삭제하시겠습니까?"} %>
    <% end %>
</div>