<h1><%= @post.id %>번 Post글 입니다.</h1>

<%= render 'form' %>

<!-- 댓글 -->
<div class="comment">
    <!-- 댓글 입력 -->
    <% if user_signed_in? %>
        <%= form_tag(comments_path, method: :post) do %>
            <%= text_area_tag(:comment_body) %>
            <%= submit_tag("등록") %>
        <% end %>
    <% end %>
    <!-- 댓글 출력 -->
    <% @post.comments.each do |comment| %>
        <div class="body">
            <%= comment.body %>
        </div>

        <% if current_user.id == comment.user_id %>
            <%= link_to "삭제", comment_path(@post), method: :delete %>
        <% end %>
        <hr>
    <% end %> <!--  comment each do-->
</div> <!-- div-comment -->

<div>
    <%= link_to "홈으로", root_path %>
    <%= link_to "글 삭제", post_path(@post), method: :delete, data: {confirm: "정말 삭제하시겠습니까?"} %>
</div>